.menu {


  &__header-text {
    font-family: TTLakes-Bold;
    font-size: 28px;
    margin-left: 16px;
    }
    &__header-text::before{
      position: absolute;
      display: flex;
      content: "";
      width: 4px;
      height: 40px;
      background: rgba(65, 246, 215, 1);
      text-align: center;
      margin: 0 0 0 -16px;
      border-bottom-right-radius:5px;
      border-top-right-radius: 5px;
    }
  &__navigation{
    display: flex;
    list-style-type: none;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 16px;

  }
  &__navigation::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  &__navigation--button{
    height: 40px;
    white-space: nowrap;
    color: #7E7E82;
    border: solid 2px #F8F8F8;
    background-color: #F8F8F8;
    padding: 0 9px 0 16px ;
    margin-left: 5px;
    font-size: 16px;
  }
  &__navigation--button:hover{
      border: 2px solid #B8FFEC;
      box-sizing: border-box;
      border-radius: 6px;
      background-color: white;
  }
  &__button{
    display: none;
  }
  @media (min-width: 1440px) {
    &__button{
      display: flex;
      justify-content: flex-end;
      margin-right: 16px;
      align-items: center;
    }
    &__button-remont{
      margin-right: 32px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      border: none;
      background-image: url("../img/icons/repair.svg");
    }
    &__button-poisk{
      margin-right: 32px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      border: none;
      background-image: url("../img/icons/checkstatus.svg");
    }
    &__text{
      font-family: TTLakes-Regular;
      font-size: 16px;
      margin-right: 8px;
    }
    &__header-text{
    }
    &__menu-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    &__header-text::before{
      position: absolute;
      display: flex;
      content: "";
      width: 4px;
      height: 40px;
      background: rgba(65, 246, 215, 1);
      text-align: center;
      margin: 0 0 0 -16px;
      border-bottom-right-radius:5px;
      border-top-right-radius: 5px;
    }
  }
}

